*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.anaTasiyici {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 700px;
}

.menuTasiyici {
}

.ustMenu {
    padding: 20px 0px;
}

    .ustMenu h2 {
        font-family: Cooper;
        font-weight: 900;
    }

.anaMenu {
    padding: 20px 0px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

    .anaMenu ul {
        list-style-type: none;
    }

        .anaMenu ul a {
            color: darkgreen;
        }

            .anaMenu ul a:hover {
                color: #25154d;
                text-decoration: underline;
            }

        .anaMenu ul li {
            float: left;
            padding-right: 12px;
        }

.altTasiyici {
    padding-top: 20px;
}

.icerikTasiyici {
    width: 1020px;
    padding-right: 20px;
    float: left;
}

.solalanTasiyici {
    width: 160px;
    float: right;
}

.not {
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    float: left;
    min-height: 270px;
}

    .not .ozet {
        min-height: 80px;
    }

.yazarKategori {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 5px;
    color: dimgray;
    margin-bottom: 10px;
}

.devamiButton {
    color: darkmagenta;
}

.Notici {
    width: 600px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    float: left;
    min-height: 500px;
}

.kayitFormu {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 8px;
}

.kayit {
    padding: 25px;
}

.input {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    background-color: #ededed;
    border: none;
}
.don {
    text-decoration: none;
    margin-top: 500px;
    color: black;
}
.basarili {
    background-color: #00E3CC;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    width: 300px;
    margin-left: 40px;
}

.basarisiz {
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    width: 300px;
    margin-left: 40px;
}
.loginbutton {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #00E3CC;
    padding: 20px 100px;
    margin-top: 100px;
    color: white;
}